services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: user_loja
      POSTGRES_PASSWORD: senha_loja
      POSTGRES_DB: db_loja
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: